# vim: syntax=bash
source ./lib/direnvrc

use flake

use sops secrets/env.yaml

export ROOT="$PWD"
# export RUSTIC_REPOSITORY="$PWD/rustic"
export RUSTIC_REPOSITORY="rclone:neoinfra:neoinfra"
export RCLONE_CONFIG="$PWD/rclone.conf"

PATH_add "$PWD/bin"
neoinfra help

export VAULT_ADDR="http://vault.service.consul:8200"
export NOMAD_ADDR="http://nomad.service.consul:4646"