# vim: syntax=bash
source ./bin/direnvrc

# export NOMAD_VAR_nixpkgs_rev="$(nix flake metadata . --json | jq -r '.locks.nodes.nixpkgs.locked.rev')"
# export NOMAD_VAR_nixpkgs_narHash="$(nix flake metadata . --json | jq -r '.locks.nodes.nixpkgs.locked.narHash')"

# use sops secrets/env.yaml
use flake .#python
