# shellcheck shell=bash
use_sops() {
    local path=${1:-$PWD/secrets.yaml}
    eval "$(sops -d --output-type dotenv "$path" | direnv dotenv bash /dev/stdin)"
    watch_file "$path"
}

use sops secrets/env.yaml

use nix

dotenv_if_exists .env

export CONSUL_HTTP_ADDR=http://shiva:8500
# export NOMAD_ADDR=http://shiva:4646
export NOMAD_ADDR=https://nomad.vulture-ratio.ts.net
